
.container{
    height: 700px;
    width:100%;
    background-color:rgb(223, 216, 216);
    justify-content: center;
}

.block{
    height: 80px;
    color: black;
    width: 1300px;
    font-size: 17px;
    display: flex;
    border-radius: 50px;
    margin: 50px;
    background-color:white;

    
  }
  .logo{
    height: 40px;
    width: 110px;
    margin: 10px;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-top: 10px;
}
.dropdown{
    height: 40px;
    width: 100px;
    font: bold;
    

}
.abc{
    height: 60px;
    width: 100px;
    font: bold;
    text-align: center;
}
.btn1{
    color: black;
    font: bold;
    height: 50px;
    width: 130px; 
    font-size: 15px;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    background-color:white;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 15px;
    
}
.btn2{
    border-color: rgb(32, 5, 57);
    height: 50px;
    width: 130px;
    font-size: 15px;
    font: bold;
    color: rgb(32, 5, 57);
    align-items: center;
    display: flex;
    border-radius: 20px;
    background-color:white;
    border: 0cap;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 15px;
    
}
.btn3{
    border-color: rgb(32, 5, 57);
    height: 50px;
    width: 130px;
    font-size: 15px;
    font: bold;
    color:white;
    align-items: center;
    display: flex;
    border-radius: 20px;
    background-color: rgb(32, 5, 57);;
    border: 0cap;
    border-radius: 5px; 
    margin-left: 40px;
    margin-top: 15px;
    
}
.block2{
    display: flex;
    margin-top: 30px;
}
.semi{
    height: 300px;
    width: 600px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    font-size: 17px;
    margin: 35px;
    background-color:rgb(20, 100, 154);

}
.caption{
    height:40px;
    width: 500px; 
    margin-left: 80px;
    

    
}
.head{
    font-size: x-large;
    justify-content: center;
}
.txt{
    font-size: larger;
}
.block3{
    display: flex;
    margin-top: 30px;
}
.semi2{
    height: 300px;
    width: 600px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    font-size: 17px;
    margin: 35px;
    background-color:rgb(6, 194, 137);

}
.caption2{
    height:40px;
    width: 500px; 
    margin-left: 80px;
    

    
}
.head2{
    font-size: x-large;
    justify-content: center;
}